{% extends 'blog/base.html' %}

{% block title %}E-mail de réinitialisation envoyé{% endblock %}

{% block content %}
<div class="card">
    <h2>E-mail de réinitialisation envoyé</h2>
    <p>Nous vous avons envoyé par e-mail les instructions pour définir votre mot de passe, si un compte existe avec l'e-mail que vous avez fourni. Vous devriez les recevoir sous peu.</p>
    <p>Si vous ne recevez pas d'e-mail, veuillez vérifier votre dossier de spam et assurez-vous d'avoir saisi la bonne adresse e-mail.</p>
</div>
{% endblock %}